@use '../../styles/index.scss' as color;

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #101010;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.footer-title {
    padding: 0.5rem;

    font-size: 1.8rem;
    color: color.$color_fiv;
}

.footer-description {
    width: 50rem;
    padding: 0.5rem;
    margin: 0.5rem 0;

    font-size: 1.0rem;
    text-align: center;
    line-height: 1.5rem;

    color: color.$color_fiv;
}

.footer-copyright {
    width: 100%;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: color.$color_fou;
}

.copyright-text {
    font-size: 1.0rem;
    font-weight: normal;
    color: color.$color_fiv;
}

.link-footer,
.menu-footer-link {
    padding: 0 0.3rem;

    font-size: 1.1rem;
    text-decoration: none;
    color: color.$color_fiv;

    transition: .5s ease all;
}

.menu-footer-link:hover {color: color.$color_one;}

.menu-footer-button {
    width: 4.0rem;
    padding: 0.3rem;
    margin-left: 1.5rem;

    cursor: pointer;
    font-size: 1.0rem;
    color: color.$color_fou;
    
    transform: scale(1);
    transition: .5s ease all;

    border-radius: 1.0rem;
    background-color: color.$color_fiv;
    border: 1px solid color.$color_fiv;
}

.menu-footer-button:hover {
    color: color.$color_fiv;

    transform: scale(1.1);

    background-color: color.$color_fou;
    border: 1px solid color.$color_fiv;
}