//COLOR VARIABLES

$color_one: #0CF29E;
$color_two: #09402C;
$color_thr: #081B26;
$color_fou: #000000;
$color_fiv: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
}